.nav{
  padding: 10px;
  background-color: #1E293B;
   box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}
.searchp.form-control{
  
  background-color: #2E3A59;
  border: transparent;
}
.searchp.form-control::placeholder{
  color: rgb(177, 177, 177);
}

.searchp.form-control:focus,
.searchp.form-control:active,
.searchp.form-control:hover {
  background-color: #2E3A59;
  color: white ;
  box-shadow: none;
  border-color: transparent 
}
.search{
  width: 25%;
}
.customB{
  border: transparent;
  background-color: transparent;
}
.img_profile img{
width: 80%;
}
.card{
  background-color: white;
  padding: 10px;
 box-shadow: 1 4px 12px #e7e6e6 ;
 
}
.card.cardd{
  border: none;
}
img{
  max-width: 100%;
}
.imgca img{
width: 100%;
}
.price{
  
  margin-top: auto;
}
.CatCustom {
  padding: 8px;
  box-shadow: 1 4px 12px #e7e6e6 ;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}


.activeCat {
  background-color:  #3c4d75;   
  color: white;
  border-color:  #3c4d75;
  box-shadow: 0 4px 12px  #2d3a57;
}
.btn.CustomBtn{
  background-color: #354365;
  color: white;
}
.btn.Basic{
    background-color: #5e79b8;
    opacity: 0.8;
  color: white;
}